*.o
*.d
*.out
*.a
*.so
*.tga
*~
*#
.DS*
*.orig
*.xyz
*.ply
*.dcu
*.cubin
*.cudaobj
geom-wrapper/CMakeFiles/*
geom-wrapper/*/CMakeFiles/*
geom-wrapper/*/Makefile
geom-wrapper/Makefile
CMakeCache.txt
*.h5
*.xmf
*.vtk
*.h5part
rbcs-*.ply
*.cmake
