img {
    max-width:100%;
    height:auto
}

h1 { font-size:2em }
h2 { font-size:1.5em }
h3 { font-size:1.17em }
h4 { font-size:1.12em }
h5 { font-size:.83em }
h6 { font-size:.75em }
#toctitle { font-size: 1.5em }

#content {
    min-width: 25em;
    max-width: 60em;
}

#header .details br {
    display:none
}
#header .details br+span.author:before {
    content:"\00a0\22c5\00a0"
}
#toc ul { list-style-type:none }
#toc a {
    text-decoration:none
}

.literalblock pre, .listingblock pre, listingblock .pygments, .listingblock .pygments code {
    background:#f7f7f8 !important
}

.conum[data-value]{
    display:inline-block;
    color:#fff!important;
    background-color:rgba(0,0,0,.8);
    -webkit-border-radius:100px;
    border-radius:100px;
    text-align:center;
    font-size:.75em;
    width:1.67em;
    height:1.67em;
    line-height:1.67em;
}
.conum[data-value]+b{display:none}
.conum[data-value]:after{content:attr(data-value)}
pre .conum[data-value]{position:relative;top:-.125em}
b.conum *{color:inherit!important}
.conum:not([data-value]):empty{display:none}
