*,:before,:after {
    box-sizing:border-box
}

h1 { font-size:2em }
h2 { font-size:1.5em }
h3 { font-size:1.17em }
h4 { font-size:1.12em }
h5 { font-size:.83em }
h6 { font-size:.75em }

#header:before,#header:after,#content:before,#content:after {
    content:" ";
    display:table
}

#header:after,#content:after {
    clear:both
}

#content {
    margin-top:1.25em
}

#content:before {
    content:none
}

#header>h1:first-child {
    color:rgba(0,0,0,.85);
    margin-top:2.25rem;
    margin-bottom:0
}

#header .details span:first-child {
    margin-left:-.125em
}

#header .details br {
    display:none
}

#header .details br+span:before {
    content:"\00a0\2013\00a0"
}

#header .details br+span.author:before {
    content:"\00a0\22c5\00a0";
    color:rgba(0,0,0,.85)
}

#toc {
    border-bottom:1px solid #efefed;
    padding-bottom:.5em
}

#toc>ul {
    margin-left:.125em
}

#toc ul {
    font-family:sans-serif;
    list-style-type:none
}

#toc li {
    line-height:1.3334;
    margin-top:.3334em
}

#toc a {
    text-decoration:none
}

#toc a:active {
    text-decoration:underline
}

#toctitle {
    font-size:1.375em
}

body.toc2 {
    padding-left:15em;
    padding-right:0
}

#toc.toc2 {
    margin-top:0!important;
    background-color:#f8f8f7;
    position:fixed;
    width:15em;
    left:0;
    top:0;
    border-right:1px solid #efefed;
    border-top-width:0!important;
    border-bottom-width:0!important;
    z-index:1000;
    padding:1.25em 1em;
    height:100%;
    overflow:auto
}

#toc.toc2 #toctitle {
    margin-top:0;
    margin-bottom:.8rem;
    font-size:1.2em
}

#toc.toc2>ul {
    font-size:.9em;
    margin-bottom:0
}

#toc.toc2 ul ul {
    margin-left:0;
    padding-left:1em
}
