img {
    max-width:100%;
    height:auto
}

h1 { font-size:2em }
h2 { font-size:1.8em }
h3 { font-size:1.6em }
h4 { font-size:1.4em }
h5 { font-size:1.2em }
h6 { font-size:1em }
#toctitle { /* TODO */
    display: none;
    visibility: hidden;
    font-size: 1.2em;
}

#content {
    min-width: 25em;
    max-width: 60em;
}

#header .details br {
    display:none
}
#header .details br+span.author:before {
    content:"\00a0\22c5\00a0"
}

.literalblock pre, .listingblock pre, listingblock .pygments, .listingblock .pygments code {
    background:#f7f7f8 !important
}

.conum[data-value]{
    display:inline-block;
    color:#000!important;
    background-color:rgba(230,230,230,1);
    -webkit-border-radius:100px;
    border-radius:100px;
    text-align:center;
    font-size:.75em;
    width:1.67em;
    height:1.67em;
    line-height:1.67em;
}
.conum[data-value]+b{display:none}
.conum[data-value]:after{content:attr(data-value)}
pre .conum[data-value]{position:relative;top:-.125em}
b.conum *{color:inherit!important}
.conum:not([data-value]):empty{display:none}

#header,#content,#footnotes,#footer {
    width:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
    max-width:62.5em; *zoom:1;
    position:relative;
    padding-left:.9375em;
    padding-right:.9375em
}

/* table of content */
#toc ul { list-style-type:none }
p#toc a {
    text-decoration:none
}

body.toc2 {
    padding-left:15em;
    padding-right:0
}

#toc.toc2 {
    margin-top:0!important;
    background-color:rgba(255,255,255,1);
    position:fixed;
    width:15em;
    left:0;
    top:0;
    border-right:1px solid #efefed;
    border-top-width:0!important;
    border-bottom-width:0!important;
    z-index:1000;
    padding:1.25em 1em;
    height:100%;
    overflow:auto
}
