# default udeviceX configuration file

# body force
bforce = {
    type = "none"
};

# wall velocity
wvel = {
     type = "constant";
     u    = [0.0, 0.0, 0.0];
     half = 0;
};

# dump
dump = {
    field = false;
    parts = false;
    freq_field = 1000;
    freq_parts = 1000;
};

# inflow parameters
inflow = {
    active = false;
};

# outflow parameters
outflow = {
    active = false;
};

denoutflow = {
    active = false;
};

# initial conditions: color
iccolor = {
    kind = "uniform";
};

# restrain solvent red color or rbc membrane
restrain = {
    kind = "none";
    freq = 0;
};

# velocity control
vcon = {
    active = false;
    factor = 0.08;
};

# distribution
dflu = {
    debug = false;
};

# runtime debug parameters
dbg = {
    verbose  = true;
    dump     = true;
    pos      = false;
    pos_soft = false;
    vel      = false;
    forces   = false;
    colors   = false;
    clist    = false;
};

